@charset "utf-8";
/*---------万能清除浮动---------------*/
.clearfix:after {
 content: '';
 display: block;
 height: 0;
 clear: both;
}
.clearfix {
 zoom: 1;
}
/*------------------top头部----------------------*/
.topbg { width: 100%;height: 30px;background: #ff5073; }
.top { width: 1172px;height: 30px;margin: 0 auto ;color: #fff;}
.top a { color: #fff; }
.top a:hover { text-decoration: underline; }
.top li:hover{ cursor:pointer ; }
.top .left li { float: left; line-height: 30px;padding-right: 10px;}
.top .right { float: right; }
.top .right li { float: left; line-height: 30px;padding-left: 17px;}
.ico-1,.ico-2,.ico-3,.ico-4 {float: left; display: block;width: 16px;height: 20px; background: url(ico-img/newhome_icon.png) no-repeat; padding-left:5px;line-height: 30px;}
.ico-1 { background-position: 0 8px; }
.ico-2 { background-position: 0 -11px; height: 25px;}
.ico-3 { background-position: 0 -37px; width: 16px; height: 17px;margin-top: 7px;}
.ico-4 { background-position: 0 -57px; width: 18px; height: 18px;margin-top: 7px;}

/*--------logo和搜索框-------------*/
.serch { width: 1172px;height: 92px; margin: 0 auto; }
.logo { float: left; margin-top: 30px;}
.serchs { float: left; width: 420px; height: 36px;line-height: 30px;border: 1px solid #ff5073; border-radius: 20px;margin-left: 100px;margin-top: 30px;}
.serchs input {text-indent: 10px; width: 360px; height: 36px; border: none; margin-left: 12px;border-radius: 20px;}
.serch-ico {display: block; float: right; width: 22px;height: 22px;background: url(ico-img/newhome_icon.png) no-repeat; background-position: 0 -88px;position: relative;top: 7px;right: 12px;border: none;cursor: pointer;}
.appdown { float: right; height: 92px; overflow: hidden;}
.appdown img { width: 84px;height: 84px; position: relative;top: -64px;right: -100px;z-index: 100;border: 1px solid #ff5073; }
.appdownbg {display: block; width: 280px;height: 70px; background:url(ico-img/newhome_icon.png) no-repeat 0 -192px;z-index: 100;}

/*----------导航栏----------------*/
.navbg { width: 100%; height: 45px; border-bottom: 1px solid #eee;border-top: 1px solid #eee; margin-top:2px;}
.nav { width: 1172px; height: 45px;margin:0 auto; }
.navlist {position: relative; float: left; line-height: 45px;text-align: center;padding-left: 35px;font-size: 16px;}
.nav-a { padding-top: 7px; }
.navlist a { color: #333; display: inline-block;}
.navlist a:hover { color: #ff5073;}
.sort { background: #f2f2f2;display: block; width: 160px;height: 38px; position: relative;}
.icon-menu { display: block;width: 20px ;height: 14px ; background: url(ico-img/classify.png); position: absolute;top: 24px;left: 23px;}
.ico-hot,.new-protc,.ico-new {display: block;width: 30px;height: 15px; background:url(ico-img/newhome_icon.png) no-repeat; position: absolute;top: 4px; margin-left: 8px; }
.ico-hot { background-position: 0 -322px;}
.new-protc { background-position: 0 -430px; }
.ico-new { background-position: 0 -430px; right: -10px; }
.navhide {position: absolute;top: 46px; z-index: 100;background: #fff; width: 200px;padding-bottom: 10px;display: none;text-align: left;margin-left: -15px;}
.navhide a { padding-left: 15px; }

/*------------侧边栏----------*/
.sidebar{ height: 100%;width: 40px;background: rgba(0,0,0,0.5); position: fixed;top: 0;right: 0;z-index: 100; color: #fff;}
.relative{ position: relative; }
.sidecart{ margin-top: 80px; }
.sidecart span { display: block;}
.sidecart a {height: 123px; color: #fff; display: block;padding-top: 10px; transition: 0.5s;
	-moz-transition: 0.5s;	/* Firefox 4 */
	-webkit-transition: 0.5s;	/* Safari 和 Chrome */
	-o-transition: 0.5s;	/* Opera */}
.sidebar a:hover { background: #ed145b }
.ico-siadecart{width: 30px;height: 20px; background: url(ico-img/mbar-smallICon.png) no-repeat; margin-left: 6px;}
.cart-text {width: 10px;padding: 10px 0 0 12px;line-height: 16px;font-size: 14px;}
#cart-panel .cart-num { display: block;width: 20px;height: 20px;line-height: 20px; background: #ed145b;color: #fff;border-radius: 50%;text-align: center;margin: 5px 0 0 10px; opacity: 0;}

.usercart{position: absolute;top: 50%;right: 0;margin-top: -80px; text-align: center;}
.usercart ul li {margin-top: 4px; }
.usercart ul li a { display: block;width: 40px;height: 30px; padding-top: 10px;}
.icon-usercart1,.icon-usercart2,.icon-usercart3{display: block;width: 30px;height: 20px; background: url(ico-img/mbar-smallICon.png) no-repeat; margin-left: 6px;  }
.icon-usercart1{ background-position: -28px 0; }
.icon-usercart2{ background-position: -56px 0;  }
.icon-usercart3{ background-position: -82px 0;  }

.gotop { position: absolute;bottom: 0;left: 0; }
.display-none { display: none; }
.gotop .pophover2 { width: 40px;height: 30px; cursor: pointer;padding-top: 10px; 
	transition: 0.5s;
	-moz-transition: 0.5s;	/* Firefox 4 */
	-webkit-transition: 0.5s;	/* Safari 和 Chrome */
	-o-transition: 0.5s;	/* Opera */
}
.gotop .pophover2:hover { background:#ed145b ; }
.icon-contact,.icon-top{ display: block;width: 30px;height: 20px;background: url(ico-img/mbar-smallICon.png) no-repeat; margin-left: 6px; }
.icon-contact { background-position: -110px 0;}
.icon-top{height: 30px; background-position: 0 -28px;}

/*侧边购物车盒子*/
.sidebar-box {width:280px ;height: 100%; position: fixed;top: 0;right: -321px;background: #fff;z-index: 100; color: #333; overflow: auto;border-left: 5px solid rgba(100,100,100,0.1);}/* right:41px/-321px; */
.sidebar-box-title { height: 40px;line-height: 38px;border-bottom: 1px solid #ddd; }
.sidebar-goods-text {text-align: center; margin-top:20px;  }
.close-text { float: left; font-size: 16px; text-indent: 10px;}
.close-cart { float: right;font-size: 32px; color: #aaa;padding-right: 10px;cursor: pointer;}
.goto { margin-top: 20px; text-align: center;border-top:1px dashed #ddd; padding-top: 10px;display: none;}
.goto .h4-1 { float: left; padding-left: 7px;}
.goto .h4-1 span { color: #ff5073; }
.goto .h4-2 { float: right; }
.goto .h4-2 span { color: #ff5073;font-size: 19px; }
.goto p { clear: both; width: 80%;height: 42px; line-height: 42px ;padding: 20px 0 0 20px;}
.goto p a {display: block;background: #ff5073; color: #fff;border-radius: 4px; font-size: 16px;}

.sidebar-goods img { width: 88px;height: 95px;float: left; }
.goodsDiv { border-bottom: 1px solid #ddd;padding: 15px 0;}
.goodsDiv h2 { float: left;width: 180px; height: 30px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;padding-left: 7px;}
.goodsDiv h2 a { color: #333; }
.goodsDiv h2 span { display: block; }
.goodsDiv h2 a:hover { color: #ff5073;background: #fff; }
.goodsDiv p span { display: block;width: 20px;height: 20px;display: inline-block;border:1px solid #ddd; border-radius: 50%; line-height: 18px;text-align: center;font-size: 18px;color: #999;font-weight: bolder; margin: 4px 4px;}
.minus { margin-left: 7px; }
.minus,.add { cursor: pointer; }
.minus:hover { background: #ff5073; color: #fff; }
.add:hover { background: #ff5073; color: #fff;}
.icon-del { display: block;width: 21px;height: 23px;background: url(ico-img/mbar-smallICon.png) no-repeat -145px 0px; margin: 10px 40px 0 0;float: right;cursor: pointer;}
.goodsDiv .save-price { float: left;margin-top: 10px;cursor: pointer; padding-left: 7px;}
.icon-del:hover { background-position: -175px 0px; }



/*侧边提示框-----------------left:-92px/-150px;*/
.tips { position: absolute;left: -150px;top:1px;width: 92px;height: 38px;background: #666;line-height: 38px;color: #eee; text-align: center;display: none;opacity: 0}
.person-text {  }
.shoucang-text { top: 47px;}
.dingdan-text { top: 90px; }
.kefu-text { top: 0; }
.top-text {top:  39px; }
 .tips .arrow {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -7px;
    border: 7px solid #666;
    border-right:none;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }




/*----------底部-------------*/
.footer-container { padding-top: 50px; }
.footer-topbg { width: 100%; height: 189px;background: #f3f1f2; border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;}
.footer-top { width: 1172px;margin: 0 auto; text-align: center;}
.foot { float: left; width: 25%; margin-top: 50px;}
.foot h3 { line-height: 60px;font-size: 20px;font-weight: bold; }

.footer-center { width: 1172px; margin: 0 auto; margin-bottom: 30px;}
.servers { float: left; width:16.5%; margin-top: 40px; border-left: 1px solid #eaeaea; }
.servers h2 { padding-top: 10px; padding-left: 35px; margin-bottom: 10px;font-weight: bolder;font-size: 18px; }
.servers ul li { line-height: 33px; padding-left: 35px;}
.servers ul li a { color: #333; }
.servers ul li a:hover { color:rgb(255, 68, 144) }
.footer-1 { float: left; width: 33%; text-align: center; margin-top: 40px;}
.footer-1 h3 { margin: 20px 0 10px 0 ; font-size: 14px; font-weight: bolder;}
.erweima { padding: 0 5px; }

.footer-bottom { width: 100%;height: 79px;border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;text-align: center; }
.footer-bottom h3 { margin-top: 15px; }
.footer-bottom span { line-height: 50px; padding: 0 10px;}
.copyright { width: 1172px;margin: 0 auto; }
.copyright .p1 { float: left;line-height: 79px; }
.copyright .p2 { float: right; line-height: 79px;}
.copyright .p2 img { margin-top: 10px; }
.copyright .p2 span { float: left; padding-left: 10px;}


