@charset "utf-8";

/*首页商品分类及下拉菜单*/
#product { width: 160px;padding-left: 0px;position: relative;height: 480px;z-index: 100;}
#product .product2 { text-align: left;height: 480px; background: rgba(0,0,0,0.5);z-index: 100;margin-top: -6px;}
#product .product2 li { width: 170px;}
#product .mian-color { padding-left: 35px;color: #fff;display: block; }
#product .mian-color:hover{ color: #000;background: #fff; }

.product-list1 {  position: relative;  }
.product-list { width: 200px; }
.product-list ul {height: 480px; position: absolute;top: 46px;right: -200px;background: #fff ;display: none;}
.product-list1 ul { height: 480px;top: 0px; left: 160px;}
.product-list ul li { padding-right: 30px; }
.product-list ul li a { color: #000;padding-left: 20px;}


/*--------------首页轮播图------------------*/
.banner {width: 100%;height: 480px; position: absolute;top: 171px;z-index: 10; }
.bannerbox { width: 100%;height: 480px;overflow: hidden; z-index: 10;position: relative;}
.bannerimg {width: 1920px;height: 480px;overflow: hidden; position: absolute; left: 50%;margin-left: -960px;}
.banner-list { position:absolute; top: 0;left: 0;}
.banner-list li {width: 1920px;float: left;margin: 0 auto;}
.banner-btn { position: absolute;left: 50%;margin-left: -160px; bottom: 10px;z-index: 12; }
.banner-btn li { width: 15px;height: 15px;background: #fff;border-radius: 50%;float: left; margin: 0 7px;cursor: pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;	/* Firefox 4 */
	-webkit-transition: 0.5s;	/* Safari 和 Chrome */
	-o-transition: 0.5s;	/* Opera */}
.banner-btn li:hover { background: #ff5073!important; }

/*--------推荐区---------*/
.barnd-1 { width: 1172px;margin:0 auto; margin-top: 70px;}
.barnd-1 h3,.barnd-2 h3 { font-size: 22px;font-weight: normal;text-align: center;margin-bottom: 20px; }
.barnd-1 ul li { padding: 5px 0; }

.barnd-2 { width: 1172px;margin:0 auto; margin-top:18px;}


/*---------首页商品列表----------*/
.content { width: 1172px;margin: 0 auto; margin-top: 10px;}
.products-list { width: 110%; }
.products-list li { width: 350px;position: relative; text-align: center; float: left;margin-right:61px;margin-bottom:61px;transition: 0.5s;
	-moz-transition: 0.5s;	/* Firefox 4 */
	-webkit-transition: 0.5s;	/* Safari 和 Chrome */
	-o-transition: 0.5s;	/* Opera */}
.products-list li:hover { box-shadow:0 0 15px #ccc; }
.product-list-img img { display: block; width: 270px;height: 270px; padding: 40px 40px 0 40px; }
.product-list-img h3,.product-list-img h4 { padding-left: 40px; text-align: left; color: #2d2d2d;line-height: 30px;font-size: 19px;}
.product-list-img h3 { margin-bottom: 18px; }
.product-list-img h4 { padding-top: 5px; color: #5c5c5c;}

.details-price { height: 64px;background: #fff5f9 }
.price { margin-top: 30px; }
.preset-price { float: left; padding: 0 0 0 10px; line-height: 61px;color: #fd49ac;font-size: 24px;}
.preset-price  span { font-size: 18px; }
.market-price { float: left; padding: 15px 0 0 20px;}
.old-price { color: #beb7ba ;font-size: 16px; padding-top:-4px;}
.sav-price { color: #fd81c1;font-size: 12px;padding-top:4px; }
.add-btn { float: right; height: 64px;text-align: center;border: none;background: #fd49ac;color: #fff;width: 124px;font-size: 20px; cursor: pointer;}
.goods-icon-wrap { display: block;width: 42px; height: 41px; background: url(ico-img/goods-local.png) no-repeat; position: absolute;top: 40px;left: 40px;}
